@import "globals.css";

body {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.main-content__wrapper {
  width: 100%;
  flex: 1;

  display: flex;
  flex-direction: column;

  gap: 16px;
  align-items: center;
  justify-content: center;

  & > div {
    width: 100%;
    max-width: 300px;

    & > h1 {
      text-align: left;
      color: var(--ctnt-primary);
    }
  }

  & .form__wrapper {
    height: fit-content;
    width: fit-content;

    padding: 32px;
    border-radius: 12px;

    background-color: var(--bg-ternary);

    & > form {
      width: 100%;
      height: 100%;

      display: grid;
      place-items: center;

      gap: 16px;

      & > .form__submit-btn {
        width: 100%;
        padding: 8px;
        background-color: var(--brd-brand);
        color: var(--brd-divisor);
      }
    }

    & .form__warn {
      width: fit-content;
      margin: 4px auto;
      color: var(--ctnt-brand);
    }
  }
}

.passkey__input-wrapper {
  height: 32px;
  width: 100%;
  padding: 4px;
  border-radius: 8px;

  display: flex;
  gap: 16px;

  border: 1px solid var(--brd-primary);

  &:focus-within {
    border-width: 0px;
    outline: 2px solid var(--brd-brand);
  }

  & > input {
    flex: 1;
    height: 100%;
    color: var(--ctnt-secondary);
  }
}
